* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
  --primary-color: #660033;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1 fr 10vh;
    grid-template-areas: 
    "top"
    "main"
    "footer";
}


header {
    grid-area: top;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    position: relative;

    background-image: url('img/highcastle-banner.jpg');
    background-size: cover;
    background-position: 0% 40%;

}

.simple-header {
    height: auto;
    background-image: none; 
    
}

.simple-header h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Helvetica', 'Arial';
}

#phrase {
    font-size: 1.40rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-shadow: 5px 3px 2px #000000;

}

nav {
    grid-area: top;
    margin: 0;
    padding: 0;
    height: 3.15rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

}

#navbar.scrolled {
    background-color:var(--primary-color);
    transition: background-color 0.2s ease;
       
}

.subpages-nav {
  background-color:var(--primary-color);
}


#menu-list  {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0;
    align-items: center;
    height: 100%;

    list-style-type: none;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.031px;
   

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2px);
    
    
}

#menu-list .active {
  font-size: 1rem;
  text-decoration: underline;
  transition: text-decoration 0.3s ease;
}

#menu-list a:hover {
  font-size: 1.2rem;
  transition: font-size 0.4s ease-in-out;
}

li a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

li a:after {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}

#logo {
    width: 20%;
}

main {
    grid-area: main;
    
}

main .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
    margin: 20px;
    padding: 30px;
    
}

main .section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}

main .section img {
    width: 40%;
    height: 40%;

}

main .section--library {
    flex-direction: row-reverse;
}

footer {
    grid-area: footer;
}

@media (max-width: 768px) {

  #phrase h1 {
    font-size: 1.2rem;
   
  }

  header {
    height: 50vh;
    width: auto;
  }

  .simple-header {
    margin: 2rem;
    padding: 2rem;
  
  }

  #menu-list {
    font-size: 0.6rem;

  }

  #menu-list .active {
    font-size: inherit;
  }

  main .section {
    flex-direction: column; 
    align-items: center;
    padding: 0%;
 
        
  }

  main section img {
    width: 100%;
    margin: 0;
    padding: 0; 
  }

  main .section p {
    font-size: 0.85rem;    
  }
 
}




